<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <!--
      參數設定：
      %date     ：日期時間，e.g. 2010-07-28 13:22:27,843
      %-5level  ：Log 等級，e.g. ERROR
      %logger   ：哪一個類別的logger，e.g. SimpleSample.Program
      %message  ：Log 輸出訊息(log.Info("這是info等級"))，e.g. 這是 info 等級
      %newline  ：換行
      %file     ：程式檔案的完整路徑，e.g. D:\AIMSWebInterface\Log\
      %line     ：代表程式中有使用日誌紀錄物件並呼叫其函式輸出訊息的那一行，e.g. 30
      %thread   ：執行緒 ID
      %runtime  ：應用程式執行到目前指令花費的毫秒數
      
      http://logging.apache.org/log4net/release/manual/configuration.html
    -->

    <!--使用 Console 作為 log 的輸出媒介,名稱為 consoleAppender-->
    <!--log 的輸出格式，其設定可參考檔案開頭的"參數設定"-->
    <!--
    <appender name="consoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    -->

    <!-- Log 寫入文字檔設定開始 -->
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">      
      <file value="E:\Derek\AP\ASP.NET\Logs\CockpitTripTradeAdmin\" /><!--輸出的 Log 檔案名稱及路徑-->      
      <appendToFile value="true" /><!--Log 輸出到檔案時，是否累加，true 為累加，false 為不累加-->
      <staticLogFileName value="false" /><!--true 代表 Log 檔案名稱只取 file 參數，false 代表 Log 檔案名稱取 file+datePattern 參數-->
      <encoding value="utf-8" /><!--Log 檔案編碼-->

      <!--
      rollingStyle 代表 Log 紀錄的處理方式，下列設定依檔案 Size，只要主要操作檔的大小超過 5KB(maximumFileSize)，則將資料移至備份檔，
      且只保留 3 個備份檔(maxSizeRollBackups，不包含主要操作檔)，每份備份檔大小 5KB(maximumFileSize)，
      且每個備份檔檔名為 Log_yyyyMMdd.txt.1、Log_yyyyMMdd.txt.2等，備份檔最後一碼數字越小者，其備份的資料越新。
      -->
      <!--
      <rollingStyle value="Size" />
      <maximumFileSize value="5KB" />
      <maxSizeRollBackups value="3" />
      -->

      <!--
      rollingStyle 代表 Log 紀錄的處理方式，下列設定 Date 代表依寫入資料的時間，
      dataPattern 若設定為 yyyyMMdd-HHmm，表示每過一分鐘就會建立一份備份檔，而主要 Log 檔 Log_yyyyMMdd.txt 則紀錄現在這一分鐘的 Log，
      若設定 yyyyMMdd 則代表每一天會建立一份備份檔，主要 Log 檔 Log_yyyyMMdd.txt 則記錄本日 Log，
      可參照 System.Globalization.DateTimeFormatInfo 類別，找到其他時間的格式設定。
    
      rollingStyle 設定為 Date 且每日備份，其備份檔檔名範如：Log_20151118.txt
      -->
      <rollingStyle value="Date" />
      <datePattern value="yyyy_MM\\'CockpitTripTradeAdmin_Log'_yyyyMMdd.'log'" /><!--輸出的 Log 檔案名稱-->

      <!--尚有混合的 rollingStyle 設定(寫入資料時間及檔案大小)，此部份可參照 Apache log4net 官網 -> Documentation -> Config Examples-->

      <layout type="log4net.Layout.PatternLayout">
        <!--Log 的輸出格式，其設定可參考本檔案"參數設定" %-20class-->
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss:fff} [%thread] %-5level %logger [%property] (%file:%line) - %message%newline" />
      </layout>
    </appender>
    <!-- Log 寫入文字檔設定結束 -->
    
    <!--程式會從這裡開始參照，再參照對應的 appender 標籤-->
    <root>
      <level value="debug" /><!--Log 記錄等級設定，設定的以上等級(含該等級)才會顯示，優先序：debug < info < warn < error < fatal-->      
      <!--<appender-ref ref="consoleAppender" />--><!--設定標準輸出裝置(Console)及檔案為 log 的輸出裝置-->
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>