<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <!--20221027 648267:需要保持註解，否則會跟machine.config重複宣告-->
  <!--<configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>-->

  <!--20221027 648267:部屬至目標server後須執行加密作業-->
  <connectionStrings>
    <add name="FZDBProdConnectionString" connectionString="Data Source=orp3;Persist Security Info=True;User ID=fzw2;Password=xns72fs9kf;Enlist=false;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="FZDBTestConnectionString" connectionString="Data Source=ort3;Persist Security Info=True;User ID=fzw2;Password=xns72fs9kf;Enlist=false;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="HAMProdConnectionString" connectionString="Application Name=CockpitTripTrade;server=10.16.49.175;database=db_HAM;uid=HAM_cs_ap02;pwd=HAM#csap02prod;" />
    <add name="HAMTestConnectionString" connectionString="Application Name=CockpitTripTrade;server=10.16.49.178;database=db_HAM;uid=HAM_cs_ap02;pwd=HAM#csap02test;Encrypt=yes;TrustServerCertificate=True;" />
  </connectionStrings>
  
  
  <appSettings>
    <!-- OIDC Authentication Begin -->
    <add key="ClientId" value="7i3PP51pr7pug8QfzvAx" />
    <add key="ClientSecret" value="s999bLm3jJHsi9wfEHwV" />

    <!--PROD : 使用FQDN-->
    <!--<add key="RedirectURI" value="http://localhost:55889/CockpitTripTradeAdmin/Callback.aspx"/>-->
    <!--<add key="RedirectDebugURI" value="http://localhost:55889/CockpitTripTradeAdmin/Callback.aspx"/>-->

    <!--TEST : 本機可使用localhost，測試環境可用IP-->
    <add key="RedirectURI" value="http://localhost:55889/CockpitTripTradeAdmin/Callback.aspx" />
    <add key="RedirectDebugURI" value="http://localhost:55889/CockpitTripTradeAdmin/Callback.aspx" />
    <add key="AuthorizeEndpoint" value="https://iam.china-airlines.com/mga/sps/oauth/oauth20/authorize" />
    <add key="TokenEndpoint" value="https://iam.china-airlines.com/mga/sps/oauth/oauth20/token" />
    <add key="LogoutOIDCUri" value="https://iam.china-airlines.com/pkmslogout" />
    <!-- OIDC Authentication End -->
    <add key="SmtpServer" value="APmailrly1.china-airlines.com" />
    <!--正式：PROD，測試：TEST，開發：DEVE-->
    <add key="Environment" value="TEST" />
    <!--是否偵錯-->
    <add key="Debug" value="true" />
    <!--網頁應用程式之站台與通訊協定及應用程式名稱-->
    <add key="WebRootUrl" value="http://localhost:55889/CockpitTripTradeAdmin/" />
    <!--網頁應用程式之站台與通訊協定及應用程式名稱-->
    <add key="AdminWebRootUrl" value="http://localhost:55889/CockpitTripTradeAdmin/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <!--<httpHandlers>
      <add path="BusyBoxDotNet.axd" verb="*" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet"/>
    </httpHandlers>-->
    <!--20220930 648267=>Error Message on TEST server-->
    <compilation debug="true" targetFramework="4.7.2" />
    <!-- POST 請求的內容(例如上傳檔案)超過 Web.config 的 maxRequestLength 設定，還是會收到錯誤訊息-->
    <httpRuntime targetFramework="4.7.2" maxRequestLength="5120" />
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <!--修正 使用 Menu.IncludeStyleBlock 時，Page.Header 不可以為 null 錯誤-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="BusyBoxDotNet" assembly="BusyBoxDotNet" namespace="BusyBoxDotNet" />
      </controls>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <!--<add name="BusyBoxDotNet" verb="*" path="BusyBoxDotNet.axd" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet" />-->
    </handlers>
    <!-- 20220826 => V => HTTP Error 403.14 - Forbidden 的錯誤發生時解決方式-->
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--無指定ODAC版本-->
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
        <!--可動態調整版本與Application一致-->
        <bindingRedirect oldVersion="0.0.0.0-4.122.21.1" newVersion="4.122.21.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    參考網址  ：https://blog.darkthread.net/blog/managed-odp-net-configsection-issue/
      在Visual Studio裡以IIS Express執行會出現以下錯誤：
        Error Code：0x800700b7 
        設定錯誤  ：定義了重複的 'oracle.manageddataaccess.client' 區段 
        設定檔案  ：\\ ? \X:\TFS\src\Forms\web.config
        
      網站在IIS出現以下錯誤：  
        錯誤碼    ：0x80070032 
        設定錯誤  ：無法讀取設定區段 'oracle.manageddataaccess.client'，因為它缺少區段宣告 
        設定檔案  ：\\ ? \X:\TFS\src\Forms\web.config
    解決方法：連同<configSection>都移除
  -->

  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>

      <!--如補上TNS_AMDIN及FetchSize，仍須移除<configSection>-->
      <!--20221026 648267:確認ODP.NET版本與Server相同以及使用bindingRedirect後，便可以使用<settins>，須注意TNS_ADMIN的VALUE須隨著主機的ora檔案位置改變-->
      <!--<settings>
            		<setting name="TNS_ADMIN" value="D:\app\client\648267\product\12.2.0\client_1\network\admin"></setting>
            		<setting name="FetchSize" value="1048576"/>
      </settings>-->
    </version>
  </oracle.manageddataaccess.client>


</configuration>