/*------------------------------------------------------------*-
made by CI - CTVD
v3.0.0
20210122
copyright China Airlines
-*------------------------------------------------------------*/

/*------------------------------------------------------------------------*-
    $Structure
-*------------------------------------------------------------------------*/
html, body {
    height: 100%;
}
html{
  font-size: 16px;
}
body {
    color: #3a424b;
    font-family: "Roboto", Arial, "Noto Sans", "Noto Sans CJK", "微軟正黑體", "Microsoft JhengHei","蘋果儷中黑","Microsoft Yahei", sans-serif;
    font-size: 1rem;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
#wrapper {
    width: 100%;
}
#page-container{
    margin-left: 245px;
    padding-top: 65px;
    min-height: 100%;
    color:inherit;
    background: #fff;
    /* transition: all 0.5s; */
}
#header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2030;
    height: 65px;
    margin: 0;
    padding: 0;
    background-color: #23569d;
    line-height: 1.5;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
#main{
    padding: 15px 30px 53px;
    letter-spacing: 0.5px;
}
#footer{
  position: fixed;
  bottom: 0;
  left: 245px;
  right: 0;
  padding: 0.25rem 1.875rem 0;
  z-index: 1000;
  box-shadow: 0 -1px 3px #ddd;
  background-color: #fff;
  /* transition: 0.5s; */
}
#main-nav {
  position: fixed;
  z-index: 2001;
  top: 65px;
  left: 0;
  bottom: 0;
  width: 245px;
  height: calc(100% - 65px);
  background-color: #fafafa;
  line-height: 1.5;
  overflow: auto;  
}
.transition-none{
  -webkit-transition:0s !important;
       -o-transition:0s !important;
          transition:0s !important;
}


/*主選單收合，PC版預設已顯示，按下主選單按鈕則收起*/
.offcanvas-active  #main-nav{
  left: -245px;
  transition: all 0.5s;
}
.offcanvas-active  #page-container {
  margin-left: 0;
  transition: all 0.5s;
}
.offcanvas-active  #footer{
  left: 0;
}


/*無主選單版本，保留以方便未來擴充*/
.no-mainNav  #btn-main-nav {
  display: none;
}
.no-mainNav  #header-title{
  margin-left: 58px;
}
.no-mainNav  #main-nav {
  display: none;
}
.no-mainNav  #page-container {
  margin-left: 0;
}
.no-mainNav   #footer{
  left: 0;
}



@media (max-width: 992px){
  #page-container{
    transition: all 0.5s;
    margin-left: 0;
  }
  #main-nav {
    transition: all 0.5s;
    left: -245px;
  }

  .offcanvas-active  #main-nav{
    left: 0;
  }
  #main{
      padding: 15px;
  }
  #footer{
    position: static;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .offcanvas-active   #screencover-dark,
  .hdrsubarea-active  #screencover-dark{
    display: block;
    content:"";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2000;
  }
}
#anchor-pagetop{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: transparent;
  text-indent: -9999px;
}
/*------------------------------------------------------------------------*-
    $Header
-*------------------------------------------------------------------------*/
#btn-main-nav{
  display:flex;
  width: 28px;
  height: 28px;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  background: transparent url(../images/img-temp-systemMain-v3s/btn-main-nav.png) center center no-repeat;
  cursor: pointer;
}
#btn-header-subarea{
  display:none;
  width: 28px;
  height: 28px;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  background: transparent url(../images/img-temp-systemMain-v3s/btn-nav-settings.png) center center no-repeat;
  cursor: pointer;
}
#btn-main-nav:focus,
#btn-header-subarea:focus{
  outline: 2px solid #96b9da;
}
#header-title{
  display:flex;
  flex: 1 1 auto;
}
#header-subarea{
  display:flex;
}


#header-title .logo-ci {
  display:flex;
  margin: 0px 20px 0 5px;
  width: 192px;
  height: 40px;
}
#header-title .logo-ci img{
  border: none;
  vertical-align: middle;
}
#header-title .website-title{
  display:flex;
  align-items: center;
  color:#fff;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.75px;
  float: left;
}
#header-title .website-title-mobile{
  display: none;
  text-align: center;
}
  


#header-subarea > .navbar-nav{
  flex-direction: row;
}
#header-subarea > .navbar-nav > li > a{
  display: flex;
  align-items: center;
  padding: 19px 8px;
  color:#fff;
  text-decoration: none;
}
#header-subarea > .navbar-nav > li > a:hover,
#header-subarea > .navbar-nav > li > a.hdsub-userinfo:hover{
  color:#f0f0f0;
  background-color: #1d4883;
}
#header-subarea > .navbar-nav > li > a:visited{
  color:#fff;
  text-decoration: none;
}
#header-subarea > .navbar-nav > li > a:focus{
  outline: 2px solid #96b9da;
}
#header-subarea > .navbar-nav > li > a.hdsub-userinfo{
  margin: 0;
  margin-right: 10px;
  padding-left: 45px; 
  padding-right: 10px;
  background: url(../images/img-temp-systemMain-v3s/icon-user-hdr.png) 10px center no-repeat; 
}
#header-subarea > .navbar-nav > li > a.hdsub-log-out{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.hdsub-user-empId,
.hdsub-user-empName{
}
.hdsub-user-empId{
  margin-right: .625rem;  
}



@media (max-width: 800px){
  #header-title  .logo-ci{
    display: none;
  }
  #header-title  .website-title-pc{
    display: none;
  }
  #header-title  .website-title{
    width: 100%;
  }
  #header-title  .website-title-mobile{
    display: block;
    text-align: center;
  }
}
@media (max-width: 992px){
  #btn-header-subarea{
    display: flex;
  }
  #header-subarea{
    display: block;
    position: fixed;
    top: 66px;
    right: -245px;
    bottom: 0;
    width: 245px;
    background-color: #fafafa; 
    transition: all 0.5s;
  }
  .hdrsubarea-active   #header-subarea{
    right: 0;
  }
  #header-subarea .navbar-nav{
    flex-direction: column;
    width: 100%;
  }
  #header-subarea > .navbar-nav > li > a{
    color:#1c1c1c;
    padding: 10px 15px;
    border-top: 1px solid #f0f0f0;
  }
  #header-subarea > .navbar-nav > li > a:visited{
    color:#1c1c1c;
  }
  #header-subarea > .navbar-nav > li > a:hover{
    color:#00aed4;
    background-color: #fff;
  }

  #header-subarea > .navbar-nav > li:first-child > a{
    display: block;
    border-top: none;
  }
  #header-subarea > .navbar-nav > li > a.hdsub-userinfo{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    background: none;
  }
  #header-subarea > .navbar-nav > li > a.hdsub-log-out{
    margin: 0;
  }
  .hdsub-user-empId,
  .hdsub-user-empName{
    display: block;
    margin: 0;
    margin-bottom: 0.1rem;
    text-align: center;
  }
}












/*------------------------------------------------------------------------*-
    $Main
-*------------------------------------------------------------------------*/
#content-header{
  margin-bottom: 5px;
}
#content-header .breadcrumb{
  margin-bottom: 0;
}
@media (max-width: 768px){
  #content-header .breadcrumb{
    display: none;
  }
}


/*------------------------------------------------------------------------*-
    $Footer
-*------------------------------------------------------------------------*/
#footer .footer-sysinfo{
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: .5rem;
}
#footer:after{
  display: inline-block;
  content:"CI copyright";
  position: absolute;
  top: 0;
  text-indent: -9999px;
}
/*------------------------------------------------------------------------*-
    $back-to-top
-*------------------------------------------------------------------------*/
#back-to-top{
  display: none;
  position: fixed;
  bottom: 50px;
  right: 5px;
  width: 51px;
  height: 51px;
  z-index: 1100;
  background: url(../images/img-temp-systemMain-v3s/icon-goToTop.png) 0 0 no-repeat;
}
#back-to-top a{
  display: block;
  width: 51px;
  height: 51px;
  text-indent: -9999px;
}
/*------------------------------------------------------------------------*-
    $Main-nav
-*------------------------------------------------------------------------*/
/*!
* metismenu https://github.com/onokumus/metismenu#readme
* A jQuery menu plugin
* @version 3.0.6
* @author Osman Nuri Okumus <onokumus@gmail.com> (https://github.com/onokumus)
* @license: MIT 
*/
.metismenu .arrow {
    float: right;
    line-height: 1.42857;
}

  /*
   * Require Ionicons
   * http://ionicons.com/
  */
  
.metismenu .ion.arrow:before {
  content: "\f3d2"
}
.metismenu .mm-active > a > .ion.arrow:before {
  content: "\f3d0";
}
.metismenu .plus-times {
  float: right;
}
.metismenu .fa.plus-times:before {
  content: "\f067";
}
.metismenu .mm-active > a > .fa.plus-times {
  transform: rotate(45deg);
}
.metismenu .plus-minus {
  float: right;
}

.metismenu .fa.plus-minus:before {
  content: "\f067";
}
.metismenu .mm-active > a > .fa.plus-minus:before {
  content: "\f068";
}
.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}

.metismenu .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height, visibility;
}
.metismenu .has-arrow {
  position: relative;
}
.metismenu .has-arrow::after {
  position: absolute;
  content: '';
  width: .5em;
  height: .5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #d81159;
  right: 1em;
  transform: rotate(225deg) translate(0, -50%);
  transform-origin: top;
  top: 50%;
  transition: all .3s ease-out;
}
.metismenu .mm-active > .has-arrow::after,
.metismenu .has-arrow[aria-expanded="true"]::after {
  transform: rotate(45deg) translate(0, -50%);
}
/*
 * 
*/
.metismenu{
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
}
.metismenu a,
.metismenu a:hover,
.metismenu a:focus,
.metismenu a:active {
  outline: none;
  text-decoration: none;
  border-bottom: none;
}
/* .metismenu a:focus{
  outline: 2px solid #96b9da;
} */
.metismenu li,
.metismenu a {
  display: block;
}
.metismenu a {
  padding: 10px 15px;
  color: #1c1c1c;
  border-top: 1px solid #f0f0f0;
}
.metismenu a:hover{
  color: #00AED4;
  background-color: #fff;
}
.metismenu a:focus{
  color: #1c1c1c;
}
.metismenu a:active {
  color: #00AED4;
}
.metismenu > li.mm-active > a {
  padding-left: 11px;
  border-left: 4px solid #23569d;
  background-color: #f8f6f2;
}
.metismenu ul {
  margin: 0;
  padding: 0;
}
.metismenu > li > ul {
  border-left: 4px solid #23569d;
}
.metismenu ul a {
  padding: 10px 20px;
  padding-left: 26px;
  background-color: #fff;
  border: none;
}
.metismenu ul ul a {
  padding: 10px 20px;
  padding-left: 40px;
}

.arrow {
  float: right;
  line-height: 1.42857;
}

.metismenu li a .label{
  margin-top: 2px;
  margin-right: 8px;
}







/*------------------------------------------------------------------------*-
    $Loading
-*------------------------------------------------------------------------*/
#civd-loading-cover{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  transition: opacity 0.15s linear;
  background-color: rgba(255, 255, 255, 0.98);
}
.ld-hide{
  display: none !important;
}
.loading-style{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
#loading-style01{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  width: 500px;
  height: 500px;
}
#loading-global-cities{
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url(../images/loading/ld01/ld_global_cities.png);
  background-size: 500px 500px;
  background-repeat: no-repeat;
  animation: ld01_global_cities 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#loading-global-flight{
  position: absolute;
  width: 500px;
  height: 500px;
	background-image: url(../images/loading/ld01/ld_global_plane.png);
	background-size: 500px 500px;
	background-repeat: no-repeat;
	animation: ld01_flying_plane 10s;
	animation-timing-function: linear;
  animation-iteration-count:infinite;
  transform:rotate(90deg);
}

@keyframes ld01_global_cities{
	0% {
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(359deg);
	}
}
@keyframes ld01_flying_plane{
	0% {
		transform:rotate(90deg);
  }
	25% {
		transform:rotate(0deg);
  }
	50% {
		transform:rotate(-90deg);
  }
	75% {
		transform:rotate(-180deg);
  }
	100%{
		transform:rotate(-270deg);
	}
}

#loading-style02{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  width: 120px;
  height:120px;
}
#loading-cuteplane{
  position: absolute;
  top: 0;
  right: 10px;
  width: 80px;
  height: 47.27px;
  background-image: url(../images/loading/ld02/ld_ci_plane.png);
  background-size: 80px 47.27px;  
  animation: swing ease-in-out 0.6s infinite alternate;
}
.cp-smoke {
  display: block;
  width:25px;
  height:25px;
  background-color:#23569d;
  border-radius:50%;
  left:-4px;
  top:20px;
  position:absolute;
  opacity:0;
  animation: smoky .6s linear infinite;
}
.cp-smoke:nth-child(1) {
  left:12px;
  top:21px;
  animation-delay: .1s;
}
.cp-smoke:nth-child(2) {
  left:7px;
  top:19px;
}
.cp-smoke:nth-child(3) {
  left:7px;
  top:24px;
  animation-delay: .2s;
}
.cp-smoke:nth-child(4) {
  left:2px;
  top:19px;
  animation-delay: .5s;
}
#loading-style02 .loading-text{
  margin-top: 55px;
}
@keyframes swing {
  0% { transform: rotate(-3deg);}
  100% { transform: rotate(3deg);}
}
@keyframes smoky {
  0%  { transform: scale(0);
        opacity:1
      }
  100% { transform: scale(1);
         opacity:0
       }
}




.loading-text {
  text-align: center;
}
.loading-text b{
  color: #d81159;
  font-size: 18px;
  margin-right: 0.5px;
}
.ld-dot{
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #d81159;
  margin-right: 0.5px;
  animation: dot_jump 1s linear infinite;
}
.ld-dot:nth-child(1) {
	animation-delay: .3s;
}
.ld-dot:nth-child(2) {
	animation-delay: .2s;
}
.ld-dot:nth-child(3) {
	animation-delay: .1s;
}
@keyframes dot_jump {
	0%  { opacity: 0.2;}
	10% { transform: translateY(-6px);}
  20% { opacity: 1; 
        transform: translateY(0);
  }
}

@media (max-width: 800px) {
  #loading-style01{
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    height: 300px;
  }
  #loading-global-cities{
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
  }
  #loading-global-flight{
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
  }
  #loading-style01  .loading-text b{
    font-size: 14px;
  }
}