@charset "UTF-8";
/*------------------------------------------------------------------------*-
    $Template "SystemMain" Ajust / 調整樣版:SystemMain樣版
-*------------------------------------------------------------------------*/
/*把調整樣版的css樣式寫在這裡*/



/*------------------------------------------------------------------------*-
    $Your Component / 您自訂可共用的內容元件CSS樣式
-*------------------------------------------------------------------------*/
#SiteMapPath1 > span:nth-child(2) {
    position: relative;
    margin-right: 24px;
}

    #SiteMapPath1 > span:nth-child(2)::after {
        display: block;
        color: #838990;
        content: " / ";
        position: absolute;
        top: 0;
        right: -16px;
    }

/*------------------------------------------------------------------------*-
    $Third Party / 其他第三方樣式
-*------------------------------------------------------------------------*/


